<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fashionorprn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fashionorprn.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fashionorprn</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>artemk_o</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:fikr8wizsn.database.windows.net,1433;Initial Catalog=fashionorprn_db;User ID=artemk_o@fikr8wizsn;Password=qwertyMX123456" Name="Data Source=tcp:fikr8wizsn.database.windows.net,1433;Initial Catalog=fashionorprn_db;User Id=artemk_o@fikr8wizsn;Password=qwertyMX123456" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MvcApplication1.Models.UsersContext, MvcApplication1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=http;AccountName=fashionorprn;AccountKey=FC7I9SH6r7nEF3nAfJvaydrVkB446ghB6NgnfRPr/KddtFvitdC1/JMO0UR4pn/g132V4+T7Xav+PNsjJdLTAA==;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DataConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=http;AccountName=fashionorprn;AccountKey=FC7I9SH6r7nEF3nAfJvaydrVkB446ghB6NgnfRPr/KddtFvitdC1/JMO0UR4pn/g132V4+T7Xav+PNsjJdLTAA==;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fikr8wizsn.database.windows.net,1433;Initial Catalog=fashionorprn_db;User Id=artemk_o@fikr8wizsn;Password=qwertyMX123456</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>