@model MvcApplication1.Models.Picture

<div align="center" style="font-size: 250%">Can you distinguish fashion from pornography?</div>

<div align="center">
    <form action="Home/StartView">
        <button type="submit">Start</button>
    </form>
</div>