@model MvcApplication1.Models.Picture

<div align="center" style="color:#00ff00; font-size: 250%">@Model.Type</div>
<div align="center"><img src=@Model.urlFull height="600" /></div>
<div align="center">@Model.Number / 10</div>

<div align="center">
    <form action="StartView">
        <button type="submit">Next</button>
    </form>
</div>