@model MvcApplication1.Models.Picture

<div align="center" font-size="4"> You are genius! </div>
<div align="center"> You are truly fashion addicted ... or you watch realy lot of porn! </div>
<div align="center">
    <form action="Index2">
        <button type="submit"> Ok </button>
    </form>
</div>

